@import '../custom';

.btn-rounded{
    position: relative;
    padding: 10px 30px;
    font-weight: bold;
    margin: 0;
    background-color: $yellow;

}

#product .btn{
    float:right;
    margin-right: 10px;

}