@import '../custom';

#detail{

    #product_detail{

        ul{
            list-style: none;
            

            li{
                 list-style: none;
                 display: block;
            }
        }

    }
}