@import '../custom';

#footer{
    background-color: $primary;

    .container{
        padding: 20px 10px;

        h3{
            font-size: large;
            font-weight: 600;
            color: $secondary;
        }

        h4{
            font-size:medium;
            font-weight: 600;
            color: $secondary;
        }

        p{
            color: $secondary;   
        }
        a{
            color: $secondary; 

        }    
        
        .col{
            padding: 0 10px;

            li{
                display: block;

                a{
                    color: $secondary; 
                    text-decoration: none;
                   
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

