header{
       margin-bottom: 30px;

    .container-fluid{
        padding: 10px 0;
        color: $secondary;
        margin-bottom: 30px;
        background-color: $primary;

        span{
            margin: 0 10px;
            a{
                float: none;                
            }
            i{
                margin-right: 10px;
            }
        }
        

        a{
            text-decoration: none;
            color: $secondary;
            float:right;
            margin: 0 10px;

            @include media-breakpoint-down(lg){
                float:none;
            }

            i{
                margin-right: 10px;
            }
        }

         
    }
    

    .logo{
        width: 300px;
        height: 100px;
        text-align: center;
        background-color: $primary;
        color: $white;
        font-size: 18px;
        display: block;
        padding-top: 20px;
        text-decoration: none;

        &:hover{
            color: $white;
            text-decoration: none;
        }


        @include media-breakpoint-down(sm){
            width: 200px;
            font-size: 14px;
        }

       
    }

    

    .nav{
        float:right;
        padding-top: 20px;

        @include media-breakpoint-down(sm){
            float:left;
        }
        
    }

    .fixed-top {
	    top: -40px;
	    transform: translateY(40px);
	    transition: transform .3s;
	}

    #searchbox{

        a{
            color: $secondary;

        }
        button{
            color: $secondary; 
        }
    }
}