@import '../custom';

#navbar {

    li{
        padding: 5px 10px;
        
        a{
            color: $secondary;
            text-transform: capitalize;
            font-weight: 600;

        }

        .dropdown-menu{
            z-index: 30000;
        }
    }



}


  


  