@import '../custom';



li{
    padding: 5px 10px;
    
    a{
        color: $green-light;
        text-transform: capitalize;
        font-weight: 600;

    }
}

#navbar {
   
   overflow: hidden;

  }
  


  